{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailing-comma": [
    true,
    {
      "singleline": "never",
      "multiline": {
        "objects": "always",
        "arrays": "always",
        "functions": "never",
        "typeLiterals": "ignore"
      }
    }
  ]
}
